form.form.form_hidden
	.form-container
		.grad
		.form__content
			.form__header-block.clearfix
				h3.form__header
			.form-inputs
				input(value="Скрытая форма" id="form-name" type="hidden" name="form-name")
				label(for="name").form__label Как вас зовут?
				input(id="name" name="name").form__input
				label(for="tel").form__label Контактный телефон
				input(id="tel" name="tel").form__input
			button(type="submit").button-cta.form__button Заказать