.footer-container
	footer.footer
		.footer__block.footer__block_company
			p.footer__text.footer__text_copy &#169; 
			p.footer__text.footer__text_grey 
		.footer__block.footer__block_contacts
			.contacts.contacts_phone
				p.footer__text  
				a(href="tel:+").footer__text.footer__text_bold 
			.contacts.contacts_address
				p.footer__text 
				a(href="https://yandex.ru/maps/-/CVdUAL53" target="_blank").footer__text.footer__text_bold 
		.footer__block.footer__block_dev
			p.footer__text Создание и продвижение сайта 
			a(href="https://new.vk.com/alexlyubakov" target="_blank").footer__text.footer__text_bold Александр Любаков