input(type="checkbox" id="toggler" class="header__toggler")
header.header.header_mobile
	.logo
		img(src="", alt="").logo_img
		img(src="", alt="").logo_name
	.header__hamburger
		label(for="toggler").header__label
			img(src="", alt="").hamburger__img
			img(src="", alt="").hamburger__img.hamburger__img_close
.call-block.call-block_mobile
	a.call-block__item.call-block__item_mobile(href="tel:+") 
	a.call-block__item.call-block__item_mobile.modalCall(href="#") Заказать звонок