header.header.header_big
	.logo.logo_big.anchor-link(href="#top")
		img(src="", alt="").logo_img.logo_img_big
		.logo__name-block
			img(src="", alt="").logo_name.logo_name_big
			p.logo__text 
	.call-block.call-block_big
		a.call-block__item.call-block__item_callback.button-cta.modalCall 
		.call-block_phone
			a.call-block__item.call-block__item_number(href="tel:+") 
			img(src="", alt="").call-block_image
