extends main

block content
	.wrapper
		.header-container
			include header
			include hamburger
		.sections
			include firstscreen
			include pain
			include product
			include ticks
			include whyme
			include options
			include special-offer
			include video
			include steps
			include lastcta
			include bpopup
			include footer
	
	