section(id="lastcta").section.section_lastcta
	.container
		form.form.form_lastcta(method="POST")
			p.form__header.form__header_lastcta 
			p.form__description.form__description_lastcta 
			.form-inputs.form__inputs_lastcta
				input(value="Форма последнего блока" type="hidden"  name="form-name")
				input(placeholder="Как Вас зовут?" name="name").form__input.form__input_lastcta
				input(placeholder="Контактный телефон"  name="tel").form__input.form__input_lastcta
				button(type="submit").button-cta.form__button.form__button_lastcta заказать звонок
